@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');


:root{
    --primary-color: #061932;
    --primary-light-color: #20242f;
    --white-color: #fff;
    --light-gray-color: #ddd;
    --extra-light: rgba(255, 255, 255, 0.5);
    --max-width: 1200px;
}
html{
    box-sizing: border-box;
    /* font-size: 62.5%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: var(--primary-color);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: #061932;
    transition: 1s;
}

.intro img{
    top: 60px;
    position: absolute;
}

.intro p{
    color: white;
    font-size: 1.3rem;
    margin-top: 10px;
    overflow: hidden;
    
}

.logo{
    font-size: 2.0rem;
    color: white;
}

.logo-parts{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    margin-top: 230px;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo-parts.fade{
    bottom: 350px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* .navbar {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    height: 80px; 
}

.navbar img {
    max-height: 100%;
    width: auto;
    vertical-align: middle; 
}

.navbar-nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--white-color);
} */

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
/*****header start******/
header{
    background-color: var(--primary-color);
    /* width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6; */
}

.logohead img{
    width: 50%;
    height: 50%;
    object-fit:cover;
}

nav{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid var(--extra-light);
}

nav ul{
    height: 100px;
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin: 3rem 0.9rem;
    position: relative;
}

nav ul li a{
    color: var(--white-color);
    font-size: 1.1rem;
    text-decoration: none !important;
}

nav ul li::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    height: 3px;
    width: 0;
    background: var(--white-color);
    opacity: 0;
    transition: all 0.4s ease-in;
}

nav ul li:hover::before{
    color: var(--white-color);
    opacity: 1;
    width: 100%;
}

/*****showcase styles*******/
/* main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: hidden; 
}

.swiper {
    height: 100vh;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.overlay {
    position: relative;
    max-width: 100%; 
    max-height: 100%; 
}

.overlay img {
    display: block;
    width: 100%; 
    height: 50%; 
    opacity: 0.7;
}

.img-overlay {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    width: 100%;
    font-family: "ubuntu";
}

.img-overlay p{
    font-size: 1rem;
    letter-spacing: 8px;
    color: var(--white-color);
}

.img-overlay h2{
    font-size: 5rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px;
} */











