@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');


:root {
  --primary-color: #061932;
  --primary-light-color: #20242f;
  --secondary-color: #f56b27;
  --white-color: #fff;
  --light-gray-color: #ddd;
  --extra-light: rgba(255, 255, 255, 0.5);
  --max-width: 1200px;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--primary-color);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

hr {
  border: 1px solid white;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-color: #061932;
  transition: 1s;
}

.intro img {
  top: 60px;
  position: absolute;
}

.intro p {
  color: white;
  font-size: 1.3rem;
  margin-top: 10px;
  overflow: hidden;

}

.logo {
  font-size: 2.0rem;
  color: white;
}

.logo-parts {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  margin-top: 230px;
}

.logo-parts.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-parts.fade {
  bottom: 350px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}


.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  text-align: center;
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.btn:hover {
  color: var(--white-color);
  background-color: navy;
  border-color: #27282a;
}

header {
  background-image: linear-gradient(to top, var(--primary-color), transparent),
    url("/static/images/puneghat.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}



.header__container {
  padding: 12rem 1rem;
}

.header__container h1 {
  margin-bottom: 1rem;
  max-width: 700px;
  font-size: 4rem;
  font-family: "Poppins";
}

.header__container h4 {
  position: relative;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.header__container h4::after {
  position: absolute;
  content: "";
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 2rem;
  background-color: #fff;
}

.discover {
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.05),
      transparent);
}

.discover__grid {
  margin-top: 4rem;
  display: flex;
  /* Change from grid to flex */
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: stretch;
  /* Ensure all items have the same height */
}

.discover__card {
  max-width: 320px;
  height: 55rem;
  margin: auto;
  flex: 1;
  /* Equal width for all cards */
}

.discover__card:nth-child(2) {
  transform: translateY(5rem);
}

.discover__image {
  position: relative;
  width: 100%;
  /* Ensure the image takes up the full width of its container */
  height: 50%;
  /* Set a fixed height for the image container */
  overflow: hidden;
  /* Hide any overflow beyond the container */
}

.discover__image img {
  width: 100%;
  /* Ensure the image fills its container */
  height: 100%;
  /* Ensure the image fills its container */
  object-fit: cover;
  /* Scale the image to be as small as possible while ensuring its aspect ratio is maintained */
}


.discover__image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--primary-color), transparent);
}

.discover__card__content {
  padding: 0 2rem;
  transform: translateY(-50%);
  margin-top: 30px;
}

.discover__card__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: #f66301;
}

.discover__card__content p {
  margin-bottom: 2rem;
}

.discover__btn {
  padding: 0.75rem 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all ease-in .3s;
}

.discover__btn:hover {
  background-color: #f56b27;
  border: navy;
}

.journals__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
  grid-row-gap: 5px;
}

.journals__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /* Adjust margin to reduce gap between rows */
}

.journals__card img {
  max-width: 100%;
  height: 43%;
}

.journals__content {
  padding: 2rem;
  background-color: var(--primary-color-light);
}

.journals__author {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.journals__author p {
  font-size: 0.9rem;
  opacity: 0.75;
}

.journals__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.journals__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.journals__footer p {
  font-size: 0.9rem;
  opacity: 0.5;
}

.journals__footer span a {
  font-size: 1.5rem;
  color: var(--white);
  opacity: 0.75;
}

.journals__btn {
  padding-bottom: 20%;
  /* margin-bottom: 10rem; */
  text-align: center;
}

.journals__btn .btn:hover {
  background-color: navy;
  border: #f56b27;
  color: white;
}

.rests .heading h2 {
  margin-top: 13px;
  font-size: x-large;
  color: var(--white-color);
}

.rests .card {
  margin-top: 24px;
  width: 100%;
  /* Fixed width for the cards */
  height: 33rem;
  /* Fixed height for the cards */
}

.card {
  height: auto;
}

.card-body {
  height: auto;
  /* Adjusted height for the card body */
  overflow: hidden;
  /* Hide overflow content */
}

.card-img-top {
  height: 50%;
  /* Adjusted height for the card image */
  object-fit: cover;
  /* Ensure the image covers the entire space */
}

.gallery__container {
  padding: 5rem 1rem;
}

.carousel-inner {
  padding: 1em;
}

/* .card{
  margin: 0 .5rem;
} */

.image-wrapper2 {
  max-width: 100%;
  height: 17em;
}

.image-wrapper2 img {
  max-width: 100%;
  max-height: 70%;
}

/* login page styling */
section#hero {
  margin: 1rem 0;
}

.container {
  display: flex;
  padding: 0 2rem;
}

.hero-wrap {
  display: flex;
}

.quote-wrap p {
  font-size: 1.2rem;
  margin-top: 10rem;
  margin-right: 2rem;
  color: #ddd;
}

.quote-wrap em {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--white-color);
}

.login-wrap-box {
  margin-top: 5rem;
  width: 35rem;
  background: #eeeff1;
  color: #27282a;
  box-shadow: 0 0 2px 5px rgba(144, 141, 141, 0.34);
  padding: 1.5rem;
  border-radius: 5px;
}

.login-title h3 {
  font-size: 1.5rem;
}

.login-title p {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: .9rem;
}

form input {
  width: 100%;
  height: 2.5rem;
  border: 2px solid rgba(48, 46, 46, 0.34);
  text-indent: none;
  margin-top: 2px;
  background: #eeeff1;
  padding-left: 3px;
}

form select {
  width: 100%;
  height: 2.5rem;
  border: 2px solid rgba(48, 46, 46, 0.34);
  margin-top: 2px;
  background: #eeeff1;
}

form p {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: .9rem;
  color: #27282a;
}

form .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: .9rem;
}

form .d-flex a {
  text-decoration: none;
  font-size: 13px;
}

.btn-submit {
  background: var(--secondary-color);
  height: 2.5rem;
  width: 6.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: 1.3rem;
  border: none;
  cursor: pointer;
}

.no-register {
  margin-top: 3rem;
  font-weight: bold;
  font-size: .85rem;
}

.no-register a {
  color: var(--secondary-color);
}

.already-registered {
  margin-top: 3rem;
  font-weight: bold;
  font-size: .85rem;
}

.already-registered a {
  color: var(--secondary-color);
}

.restviews .heading h2 {
  margin-top: 2rem;
  /* Adjust margin top to align with the card */
}

.restviews .heading h6 {
  margin-top: -1rem;
  /* Add some margin to separate from the card */
}

.restviews .row {
  display: flex;
  justify-content: center;
  /* Center horizontally */
}

.restviews .card {
  width: 90%;
}


/* restaurant review images slider */
.restviews .carousel-item img {
  max-width: 40%;
  height: 300px;
  margin: 0 auto;
}

.restviews .restdes {
  padding-left: 4rem;
}


@media screen and (min-width: 576px) {
  .image-wrapper2 {
    height: 23vw;
  }
}

.truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.truncated-text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.map-link {
  text-decoration: none;
  color: #ffffff;
}

.map-link:hover {
  text-decoration: none;
  color: rgb(151, 148, 148);
}

/* css for transport */

.circle {
  width: 160px;
  /* Adjust size as needed */
  height: 160px;
  /* Adjust size as needed */
  border-radius: 50%;
  margin: 0 40px;
  /* Adjust spacing between circles */
  cursor: pointer;
  transition: transform 0.2s;
  /* Smooth transition on hover */
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-size: cover;
  /* Ensure background image covers the circle */
  text-align: center;
  /* Horizontally center the text */
  background-color: #ddd;
}

/* Define background images for each circle */
.circle:nth-child(1) {
  background-image: url('/static/images/busfinal.png');
  /* Adjust image path */
}

.circle:nth-child(2) {
  background-image: url('/static/images/trainfinal3.jpg');
  /* Adjust image path */
}

.circle:nth-child(3) {
  background-image: url('/static/images/metrofinal.png');
  /* Adjust image path */
}

.circle:nth-child(4) {
  background-image: url('/static/images/autofinal.png');
  /* Adjust image path */
}

.circle:nth-child(5) {
  background-image: url('/static/images/taxifinal.jpg');
  /* Adjust image path */

}



/* Apply the bulging effect on hover */
.circle:hover {
  font-weight: bold;
  /* Make text bold on hover */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  /* Add text shadow on hover */
}

.circle:nth-child(even) {
  transform: translateY(-60px);
}

.circle:nth-child(odd) {
  transform: translateY(60px);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 75px;
}

/* css for history */


.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.timeline {
  position: relative;
  margin-top: 40px;
}

.event {
  position: relative;
  margin-bottom: 40px;
}

.event-date {
  position: absolute;
  top: 0;
  left: -80px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.event-details {
  margin-left: 50px;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: black;
  border-radius: 5px;
}

.event-details h2 {
  margin-top: 0;
}

.event-details p {
  margin-bottom: 0;
}

/* css for nature page corousel */



/* footer section */
.footer {
  background-color: #111111;
  padding-top: 10px;
}

.footer p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 0 15px 0;
  color: #3d3d3d;
}

.footer a {
  text-decoration: none;
}

.footer ul {
  padding: 0;
}

.footer-about {
  margin-bottom: 30px;
}

.footer .row {
  margin-top: 20px;
}

.footer-about .footer-logo {
  margin-left: -30px;
  margin-bottom: 10px;
  position: relative;
}

.footer-about .footer-logo img {
  width: 200px;
  height: 200px;
  margin-top: -20px;
}

.footer-about .footer-logo h6 {
  margin-top: -25px;
  position: absolute;
  margin-left: 30px;
}

.footer-about .footer-logo p {
  margin-top: -20px;
  /* Adjusted margin */
  position: absolute;
  /* Added position absolute */
  margin-left: 100px;
}

.footer-widget {
  margin-bottom: 30px;
}

.footer-widget h6 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}


.footer-widget ul li {
  line-height: 36px;
  list-style: none;
}

.footer-widget ul li a {
  color: #b7b7b7;
  font-size: 15px;
}

.footer-widget ul li a:hover {
  color: #f56b27;
}

.footer form input {
  display: inline-block;
}

.footer form button {
  width: 4.3rem;
  border-radius: .2rem;
  padding: 6px;
  margin-top: 5px;
  display: flex;
}

.footer .copyright {
  text-align: center;
  justify-content: center;
}

.footer-widget .footer-newsletter {
  color: #b7b7b7;
}

.footer-widget .footer-newsletter form input:focus {
  outline: none;
}

.footer-widget .footer-newsletter form input {
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  background: transparent;
  border: none;
  padding: 15px 0;
  border-bottom: 2px solid #ffffff;
}

.footer-widget .footer-newsletter form input::placeholder {
  color: #b7b7b7;
}

.footer-copyright-text {
  border-top: 1px solid rgba(225, 225, 225, 0.1);
  padding: 20px 0;
  margin-top: 40px;
}

.footer-copyright-text p {
  color: #b7b7b7;
  margin-bottom: 0;
}

.contact .contact_space {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
  /* Align items to the start of the cross axis */
}

.contact .contact_space .contact_img {
  flex: 0 0 35rem;
}

.contact .contact_space .contact_img img {
  width: 100%;
  height: 34.9rem;
  border-radius: .5rem;
}

.contact_img img::after {
  background: linear-gradient(to top, var(--primary-color), transparent);
}

.contact .contact_space form {
  flex: 1;
  /* Let the form grow to fill remaining space */
  max-width: 50rem;
  /* Set maximum width for the form */
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
  border-radius: .5rem;
  background-color: #eeeff1;
}

.contact .contact_space form legend {
  color: #27282a;
}

.contact .contact_space form .inputbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .contact_space form .inputbox input,
.contact .contact_space form textarea {
  width: 48%;
  margin: 1rem 0;
  font-size: 1rem;
  color: #333;
  padding: 4px;
  background: #f7f7f7;
}

.contact .contact_space form textarea {
  height: 14rem;
  width: 32rem;
  border: none;
  resize: none;
  width: 1005;
}

.contact .contact_space form .btn {
  height: 2.5rem;
  width: auto;
  align-items: center;
}

.journals__card {
  min-height: 100%;
  margin-top: 20px;
}



.journals .journals__card .card-header h6,
.card-body {
  color: black;
}


.journals__btn {
  margin-top: 20px;
  padding-bottom: 20%;
  text-align: center;
}

.journals__btn .btn:hover {
  background-color: navy;
  border: #f56b27;
  color: white;
}

.line {
  width: 60px;
  height: 4px;
  background-color: #f56b27;
  margin: 16px auto 24px auto;
}

.back-to-top {
  position: fixed;
  width: 200px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.back-to-top1 {
  position: fixed;
  width: 200px;
  height: 50px;
  left: 30px;
  bottom: 30px;
  z-index: 99;
  background-color: red;
  border-color: red;
}

.back-to-top:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.back-to-top1:hover {
  background-color: #007bff;
}

.culture .culture-header {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid rgba(235, 233, 233, 0.1);
}

.culture .culture-history {
  margin: 20px 0 30px 0;
  border-bottom: 1px solid rgba(235, 233, 233, 0.1);
}

.culture .culture-history .card {
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1.5);
}

.culture .culture-attraction {
  border-bottom: 1px solid rgba(235, 233, 233, 0.1);
}

.culture .culture-attraction .cards-wrapper {
  display: flex;
}

.culture .culture-attraction .card {
  border: none;
  margin: 0 .5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1.5);
}

.culture .culture-attraction .card img {
  min-height: fit-content;
}

.culture .culture-traditionals {
  border-bottom: 1px solid rgba(235, 233, 233, 0.1);
}

.culture .culture-traditionals .card-group .cards-wrapper {
  display: flex;
  min-height: 100%;
  min-width: calc(100%/3);
  gap: 20px;
}

.culture .culture-traditionals .card-group .card .card-img-overlay .hoverdiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  background: rgba(0, 0, 0, 0.8);
  font-size: small;
  opacity: 0;
  color: #fff;
  box-sizing: border-box;
}

.culture .culture-traditionals .card-group .card .card-img-overlay:hover .hoverdiv {
  opacity: 1;
}



.culture .culture-cuisine .map-container1 {
  position: relative;
  height: 90px;
  /* Adjust the height as needed */
  overflow: hidden;
}

.culture .culture-language .language-img img {
  height: 400px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.8);
}

.culture .culture-language .card {
  background: transparent;
}

.culture .culture-language .card .card-body {
  color: var(--white-color);
}

#userPostCard a .btn {
  background-color: red;
  border-color: red;
  color: white;
}


#userPostCard a .btn:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
}

.btns {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: red;
  cursor: pointer;
}

.btns:hover {
  background-color: red;
  border-color: red;
  color: white;
}

/* food page */
.food .food-header {
  border-bottom: 1px solid rgba(235, 233, 233, 0.1);
}

.food .food-cuisine .card {
  margin: 20px;
  /* Add gap between the cards */
  min-height: 100%;
  gap: 17px;
}

.food .food-cuisine .card .card-img-top {
  height: 200px;
  /* Set desired height for the images */
  object-fit: contain;
  /* Ensure images maintain aspect ratio and cover the entire container */
}