{% extends 'base.html' %}

{% block body %}

<section class="container-fluid food">
  <div class="food-page">
    <div class="food-header mt-4 text-center">
        <h3>Food of Pune</h3>
        <p>Discover the Flavorful Essence of Pune's Culinary Delights</p>
    </div>

    <div class="food-cuisine mt-4 text-center d-flex justify-content-center align-items-center flex-column">
        <h4>Cuisine</h4>

        <div class="card-group" data-aos="fade-up">
            <div class="card">
              <img src="/static/images/culture/Mastanicuisine.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mastani</h5>
                <p class="card-text">A luscious and indulgent milkshake-like beverage from Pune, enriched with thickened milk, ice cream, and an array of toppings, offering a delightful treat for dessert lovers.</p>
              </div>
            </div>
            <div class="card">
              <img src="/static/images/culture/Misalpavcuisine.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Misal Pav</h5>
                <p class="card-text">A spicy and flavorful Maharashtrian dish featuring sprouted lentils cooked in a fiery gravy, served with pav (bread) and topped with crunchy farsan, providing a burst of flavors and textures in every bite.</p>
              </div>
            </div>
            <div class="card">
              <img src="/static/images/culture/Chitale-Bhakarwadi.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Bakarwadi</h5>
                <p class="card-text"> A crispy and savory snack hailing from Maharashtra, consisting of gram flour dough spirals filled with a spicy and tangy mixture, deep-fried to golden perfection, perfect for satisfying savory cravings.</p>
              </div>
            </div>
          </div>

          <div class="card-group" data-aos="fade-up">
            <div class="card">
              <img src="/static/images/Food/PithlaBhakari.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pithla Bhakari</h5>
                <p class="card-text">A traditional Maharashtrian dish comprising a thick and savory gram flour curry (pithla) served with unleavened bread (bhakari), offering a wholesome and comforting meal option.</p>
              </div>
            </div>
            <div class="card">
              <img src="/static/images/Food/Sabudana.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sabudana Khichadi</h5>
                <p class="card-text">A popular fasting dish made with soaked tapioca pearls (sabudana), peanuts, potatoes, and aromatic spices, creating a flavorful and nutritious meal often enjoyed during religious festivals or fasting days.</p>
              </div>
            </div>
            <div class="card">
              <img src="/static/images/Food/puranPoli.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Puranpoli</h5>
                <p class="card-text"> A sweet flatbread filled with a delicious mixture of cooked lentils (puran) and jaggery, flavored with cardamom and nutmeg, making it a delightful dessert or snack enjoyed during festive occasions in Maharashtra.</p>
              </div>
            </div>
          </div>

    </div>
    <hr>

    <div class="food-cuisine mt-5 text-center d-flex justify-content-center align-items-center flex-column">
        <h4>Street Food</h4>
        
        
        <div class="row row-cols-1 row-cols-md-2 g-4" >
            <div class="col">
              <div class="card" data-aos="fade-up">
                <img src="/static/images/Food/goodluckcafe.jpg" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Keema Pav at Goodluck Cafe</h5>
                  <p class="card-text">A delightful dish consisting of spicy minced meat (keema) served with soft pav bread, renowned for its rich flavors and hearty appeal.</p>
                  <a href="https://maps.app.goo.gl/4zPG9CV7n5aVovdd7" target="_blank"><button class="btn">Visit</button></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" data-aos="fade-up">
                <img src="/static/images/Food/Eastburger.jpg" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chicken Jumbo Burger at Burger - East Street</h5>
                  <p class="card-text">A mouthwatering combination of succulent chicken patty, fresh vegetables, and creamy sauces sandwiched between soft burger buns, offering a satisfying meal on-the-go.</p>
                  <a href="https://maps.app.goo.gl/kzdJeNFVLFgXepsN9" target="_blank"><button class="btn">Visit</button></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" data-aos="fade-up">
                <img src="/static/images/Food/Vaishalidosa.jpg" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mysore Masala Dosa at Vaishali</h5>
                  <p class="card-text">A South Indian classic, the Mysore Masala Dosa at Vaishali is a thin, crispy rice and lentil crepe filled with a spicy and tangy potato mixture, served with coconut chutney and sambar for a flavorful breakfast or snack.</p>
                  <a href="https://maps.app.goo.gl/yoi9LVRGLxkrzAJRA" target="_blank"><button class="btn">Visit</button></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" data-aos="fade-up">
                <img src="/static/images/Food/Vadapav.webp" class="card-img-top mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Jumbo Vada Pav at Garden Vada Pav Centre</h5>
                  <p class="card-text">A beloved street food staple, the Jumbo Vada Pav features a spiced potato patty (vada) sandwiched between soft pav bread, served with chutneys for an explosion of flavors with every bite.</p>
                  <a href="https://maps.app.goo.gl/FsgqKWuBNCB87JwCA" target="_blank"><button class="btn">Visit</button></a>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/TirangaBiryani.jpg" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Chicken Biriyani at Tiranga Bhuvan Kothrud</h5>
                    <p class="card-text">A fragrant and aromatic rice dish cooked with succulent pieces of chicken, fragrant spices, and herbs, delivering a burst of flavors that tantalize the taste buds.</p>
                    <a href="https://maps.app.goo.gl/KZ6mYPSvNjZv2dWWA" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/jaishankarpanipuri.webp" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Delhi Chaat at Jaishankar Pani Puriwala</h5>
                    <p class="card-text">A medley of crispy puris filled with spicy and tangy chutneys, yogurt, and a variety of toppings like sev, onions, and coriander, offering a burst of flavors and textures in every bite.</p>
                    <a href="https://maps.app.goo.gl/euF72fSTpLBpX8qAA" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/GermanBakery.jpg" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cheesecake at German Bakery</h5>
                    <p class="card-text">A creamy and decadent dessert featuring a velvety smooth cheesecake filling atop a buttery biscuit crust, perfect for satisfying your sweet cravings.</p>
                    <a href="https://maps.app.goo.gl/bFfYB3ZN5oABRJuYA" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/Bedakar.jpg" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Puneri Misal Pav at Bedekar Misal</h5>
                    <p class="card-text">A spicy and flavorsome Maharashtrian dish consisting of sprouted lentils cooked in a fiery gravy, topped with crunchy farsan and served with soft pav bread, known for its fiery flavor and hearty appeal.</p>
                    <a href="https://maps.app.goo.gl/PLgtaG3kNhcHB6ph8" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/SupremeSandwich.jpg" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Sandwich at Supreme Sandwich</h5>
                    <p class="card-text">A classic comfort food, the sandwich at Supreme Sandwich is a delightful combination of fresh vegetables, meats, cheese, and spreads layered between slices of bread, offering a satisfying and wholesome meal option.</p>
                    <a href="https://maps.app.goo.gl/CKjwHASryETw1Byt9" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" data-aos="fade-up">
                  <img src="/static/images/Food/CampBurger.webp" class="card-img-top mt-2" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Burger at Camp Burger</h5>
                    <p class="card-text">A delicious burger featuring a juicy beef or veggie patty, fresh lettuce, tomatoes, onions, cheese, and sauces, sandwiched between soft burger buns for a satisfying and indulgent meal.</p>
                    <a href="https://maps.app.goo.gl/RAsVZCSA7yYbiqA2A" target="_blank"><button class="btn">Visit</button></a>
                  </div>
                </div>
              </div>
          </div>
        
        

    </div>
     


    
  </div>
</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/main.js"></script>
{% endblock %}