{% extends 'base.html' %}

{% block body %}
<div class="page-container">
  <h1>History of Pune</h1>
  <div class="timeline">
    

    <div class="event">
      <div class="event-date">2015</div>
      <div class="event-details">
        <h2>Pune Metro Inauguration</h2>
        <p> Pune's infrastructure underwent significant development with the inauguration of the Pune Metro rail project. The metro project aimed to alleviate traffic congestion and improve connectivity within the city, providing a modern and efficient mode of public transportation for Pune residents.</p>
        <div class="learn-more" style="text-align: right;">
        <a href="https://en.wikipedia.org/wiki/Pune_Metro" target="_blank">Learn More...</a>
      </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">2010</div>
      <div class="event-details">
        <h2>Bomb Blast Tragedy</h2>
        <p> Pune faced a series of bomb blasts in February 2010, targeting various locations in the city, including the German Bakery in Koregaon Park. The coordinated attacks resulted in several casualties and injuries, highlighting security concerns and the threat of terrorism in Pune.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/2010_Pune_bombing" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">1990</div>
      <div class="event-details">
        <h2> IT Hub Emergence</h2>
        <p>By the 1990s, Pune had established itself as one of India's major IT and automotive manufacturing hubs, attracting investments and industries from around the world. The city witnessed rapid urban development, infrastructure growth, and a burgeoning IT sector, solidifying its position as a leading center for technology, innovation, and entrepreneurship in India.
        </p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://www.wikiwand.com/en/History_of_Pune#:~:text=to%20this%20body.-,City%20growth%20and%20development,-Prime%20minister%20Nehru" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">1961</div>
      <div class="event-details">
        <h2>Urbanization Boom</h2>
        <p>In 1961 AD, Pune experienced rapid urbanization and industrial growth, emerging as a prominent educational and industrial center in India. The establishment of institutions such as the National Chemical Laboratory furthered Pune's reputation as a hub for education, research, and innovation, contributing to its economic development and growth.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/Pune#:~:text=Pune%20since%20Indian%20Independence" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-date">1942</div>
      <div class="event-details">
        <h2> Quit India Movement</h2>
        <p>During the Quit India Movement in 1942 AD, Pune emerged as a hotbed of resistance against British colonial rule. The city witnessed widespread protests, demonstrations, and acts of civil disobedience, with many prominent leaders and activists from Pune actively participating in the movement, demanding an end to British rule and India's independence.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/Quit_India_Movement" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">1894</div>
      <div class="event-details">
        <h2> New English School</h2>
        <p>In 1894 AD, the New English School was established in Pune, marking a significant milestone in the city's educational history. The school played a pivotal role in promoting education in vernacular languages and became a center for intellectual and cultural exchange, contributing to the growth of the Indian freedom movement.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://mr.wikipedia.org/wiki/%E0%A4%A8%E0%A5%8D%E0%A4%AF%E0%A5%82_%E0%A4%87%E0%A4%82%E0%A4%97%E0%A5%8D%E0%A4%B2%E0%A4%BF%E0%A4%B6_%E0%A4%B8%E0%A5%8D%E0%A4%95%E0%A5%82%E0%A4%B2_(%E0%A4%AA%E0%A5%81%E0%A4%A3%E0%A5%87)#:~:text=New%20English%20School%20(Pune)" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">1857</div>
      <div class="event-details">
        <h2>Rebellion in Pune</h2>
        <p>Pune played a significant role in the Indian Rebellion of 1857, also known as the First War of Independence, against British colonial rule. The city witnessed widespread protests and uprisings, with many freedom fighters from Pune actively participating in the rebellion, contributing to the fight for India's independence.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/Indian_Rebellion_of_1857" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-date">1818</div>
      <div class="event-details">
        <h2>British Conquest</h2>
        <p>In 1818 AD, Pune was captured by the British East India Company after the Third Anglo-Maratha War, marking the end of Maratha rule in the city. This event led to significant changes in Pune's political landscape and paved the way for British colonial administration.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/Third_Anglo-Maratha_War" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>
    
    <div class="event">
      <div class="event-date">1730</div>
      <div class="event-details">
        <h2>Peshwa Dominance</h2>
        <p>By the 18th century, Pune had become the stronghold of the Peshwas, who served as the prime ministers of the Maratha Empire. This period saw Pune's transformation into a major political and cultural center, with the Peshwas playing a significant role in its development and governance.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/History_of_Pune#:~:text=city.%5B11%5D-,Peshwa%20rule%20(1714%E2%80%931818),-%5Bedit%5D" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">1630</div>
      <div class="event-details">
        <h2>Foundation of Pune</h2>
        <p>Founded by Chattrapati Shivaji Maharaj in 1630 AD, Pune became the capital of the Maratha Kingdom. Under Shivaji's rule, the city flourished as a center of Maratha power, administration, and culture, playing a crucial role in shaping the history of the Maratha Empire.</p>
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/History_of_Pune#:~:text=Maratha%20rule%5B,city.%5B11%5D" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">13th Century</div>
      <div class="event-details">
        <h2>Yadava Rule</h2>
        During the 13th century AD, Pune came under the control of the Yadava Dynasty, which furthered its development as a cultural and political hub in the region. This period saw the city's emergence as an important center of trade and commerce.
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/Seuna_(Yadava)_dynasty" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-date">8th Century</div>
      <div class="event-details">
        <h2>Rashtrakuta Settlement</h2>
        In the 8th century AD, Pune, then known as Punaka Vishaya, witnessed settlement by the Rashtrakuta Dynasty. This marked its early history as a regional center, contributing to its cultural and economic growth in the region.
        <div class="learn-more" style="text-align: right;">
          <a href="https://en.wikipedia.org/wiki/History_of_Pune#:~:text=Early%20and%20medieval%5B,Sanskrit%20scriptures.%5B3%5D" target="_blank">Learn More...</a>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}
</body>

</html>