<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/static/images/LogoPforico.ico">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
    integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <title>PuneCompass-Home</title>
</head>

<body>
  <div class="intro">
    <div class="image-wrapper"></div> <img src="../static/images/LogoP-wbg.png" alt="PuneCompass Logo">
    <h1 class="logo">
      <span class="logo-parts">P</span>
      <span class="logo-parts">U</span>
      <span class="logo-parts">N</span>
      <span class="logo-parts">E</span>
      <span class="logo-parts">C</span>
      <span class="logo-parts">O</span>
      <span class="logo-parts">M</span>
      <span class="logo-parts">P</span>
      <span class="logo-parts">A</span>
      <span class="logo-parts">S</span>
      <span class="logo-parts">S</span>
    </h1>
    <p>Travel. Eat. Repeat</p>
  </div>

  <header id="home">
    <nav>
      <div class="nav__bar">
        <div class="nav__logo"><a class="text-decoration-none" href="{% url 'home' %}">PuneCompass.</a></div>
        <ul class="nav__links">
          <li class="link"><a href="{% url 'touristPlaces' %}">Places to Visit</a></li>
          <li class="link"><a href="{% url 'transport' %}">Transport</a></li>
          <li class="link"><a href="{% url 'restaurants' %}">Restaurants</a></li>
          <li class="link"><a href="{% url 'touristPlaces' %}">Accomodation</a></li>
          {% if not request.user.is_authenticated %}
          <li class="link"><a href="{% url 'login' %}">Login</a></li>
          <li class="link"><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="link"><a href="{% url 'userProfile' %}">Your Account</a></li>
          <li class="link"><a href="{% url 'logout' %}">Logout</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in messages %}
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}

    </div>

    {% endif %}
    <div class="section__container header__container">
      {% if request.user.is_authenticated %}
      <h1>Welcome {{ request.user.first_name }}!</h1>
      <h4>Explore the colourful world</h4>

      {% else %}
      <h1>The new way to plan your next adventure</h1>
      <h4>Explore the colourful world</h4>
      {% endif %}
      <a href="#discover" class="text-decoration-none">
        <button class="btn">
          Explore More <i class="fas fa-arrow-right"></i>
        </button>
      </a>
    </div>
  </header>
  <!--header end-->
  <hr>
  <section class="discover" id="discover">
    <div class="section__container discover__container">
      <h2 class="section__header">Discover the most engaging experience</h2>
      <p class="section__subheader">
        Let's see Pune with us and you.
      </p>
      <div class="discover__grid">
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/misalpavdiscoversmall.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>FOOD</h4>
            <p>
              Pune's culinary scene is a delicious fusion of traditional Maharashtrian flavors, innovative gastronomy,
              and global cuisines, satisfying every palate with its diverse offerings.
            </p>
            <button class="discover__btn">
              <a class="text-white text-decoration-none" href="{% url 'food' %}">
                Discover More </a><i class="fa-solid fa-arrow-right"></i></i>
            </button>
          </div>
        </div>
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/ganapatidiscover.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>CULTURE</h4>
            <p>
              Pune's vibrant culture blends ancient traditions with modern innovations, creating a dynamic tapestry of
              art, music, and heritage.
            </p>
            <button class="discover__btn">
              <a class="text-white text-decoration-none" href="{% url 'culture' %}">
                Discover More </a><i class="fa-solid fa-arrow-right"></i></i>
            </button>
          </div>
        </div>
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/naturediscover.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>NATURE</h4>
            <p>
              Pune's lush greenery and tranquil surroundings offer a serene escape from the bustling city life, inviting
              harmony with nature at every turn.
            </p>


            <button class="discover__btn">
              <a class="text-white text-decoration-none" href="{% url 'nature' %}">
                Discover More </a><i class="fa-solid fa-arrow-right"></i></i>
            </button>

          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="journals" id="journals" data-aos="fade-up">
    <div class="section__container journals__container">
      <h2 class="section__header">The travel gallery</h2>
      <p class="section__subheader">A gallery is a place to record new things you have discovered while exploring
        various places you visit.</p>
      <div class="row">
        {% for post in posts %}
        <div class="col-md-4 my-3">
          <div class="card journals__card">
            <div class="card-header bg-transparent border-success">
              <h6>{{ post.user.username }}</h6>
            </div>
            <img src="/media/{{ post.image }}" class="card-img-top" alt="...">
            <hr>
            <div class="card-body">
              <p class="card-text">{{ post.caption }}</p>
              <a class="text-decoration-none " target="_blank" href="/{{ post.link }}/{{ post.location.id }}">
                <p class="card-title"><i class="fa-solid fa-location-dot"></i>&ensp;{{ post.location }}</p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Add more cards as needed -->
      </div>
      <div class="journals__btn" data-aos="fade-up">
        <a href="{% url 'gallery' %}">
          <button class="btn">View All Pictures <i class="fa-solid fa-arrow-right"></i></button>
        </a>
      </div>
    </div>
  </section>
  <hr>
  <section class="contact">
    <div class="section__container contact__container">
      <h2 class="section__header">Contact</h2>
      <div class="contact_space">
        <div class="image-wrapper contact_img"><img src="/static/images/Contactpune.png" alt="">
        </div>
        <form action="" id="">
          <legend>Fill Details</legend>
          <div class="inputbox">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
          </div>
          <div class="inputbox">
            <input type="number" placeholder="Number">
            <input type="text" placeholder="Subject">
          </div>
          <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
          <input type="submit" class="btn" value="Send Message">
        </form>
      </div>
    </div>
  </section>

  <!-- about us section -->
  <hr>
  <section class="aboutus">
    <div class="section__container aboutus__container">
      <h2 class="section__header">About Us</h2>
      <div class="about-description">
        <p>

          "Welcome to Pune, where history meets modernity and culture intertwines with innovation. At Pune City Tours,
          we are passionate about showcasing the rich tapestry of experiences this vibrant city has to offer.</p>

        <p>With a deep-rooted understanding of Pune's heritage, coupled with a keen eye for its contemporary allure, our
          team is dedicated to curating unforgettable journeys for visitors from all walks of life. From the majestic
          forts that narrate tales of valor to the bustling markets brimming with flavors and colors, every corner of
          Pune beckons with its unique charm.</p>

        <p>As your local guides, we take pride in unraveling the hidden gems and lesser-known treasures of Pune,
          ensuring that each excursion is as enlightening as it is exhilarating. Whether you're a history enthusiast, a
          culinary adventurer, or simply seeking moments of serenity amidst the urban hustle, we tailor our tours to
          cater to your interests and preferences.</p>

        <p>Join us as we navigate the labyrinthine lanes of Pune, where every cobblestone has a story to tell and every
          vista promises a new perspective. Let Pune City Tours be your trusted companion in discovering the heart and
          soul of this dynamic metropolis."
        </p>
      </div>
    </div>

  </section>

  <section class="afooter mt-5">
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-about">
              <div class="footer-logo">
                <a href="#"><img src="/static/images/LogoP-wbg.png" alt=""></a>
                <h6>PuneCompass</h6>
              </div>
              <p>Thank you for visiting!</p>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-twitter"></i>
              <i class="fa-brands fa-square-instagram"></i>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget">
              <h6>Links</h6>
              <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Transport</a></li>
                <li><a href="#">History</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget">
              <h6>Address</h6>
              <a href="#">
                <p>PES Modern College of Engineering, Pune</p>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget">
              <h6>A project by</h6>
              <div class="footer-newsletter form-inline">
                <p> <a class="text-secondary" target="_blank"
                    href="https://www.linkedin.com/in/mihika-saraf-8b6557231/"> Mihika Saraf</a> <br> <a
                    class="text-secondary" href="https://www.linkedin.com/in/avneesh-deshmukh">Avneesh Deshmukh</a> <br>
                  <a class="text-secondary" target="_blank"
                    href="https://www.linkedin.com/in/kedar-c-044938283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Kedar
                    Chikane</a> <br> <a class="text-secondary" target="_blank"
                    href="https://www.linkedin.com/in/rutuja-chanakhekar/">Rutuja Chanakhekar</a> </p>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container copyright">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="footer-copyright-text">
              <p>Copyright &copy; 2024 All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>



  <script src="../static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="../static/js/app.js"></script>
</body>

</html>