<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="/static/css/navbar.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
    integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <title>PuneCompass-Home</title>
</head>

<body>
  <div class="intro">
    <div class="image-wrapper"></div> <img src="../static/images/LogoP-wbg.png" alt="PuneCompass Logo">
    <h1 class="logo">
      <span class="logo-parts">P</span>
      <span class="logo-parts">U</span>
      <span class="logo-parts">N</span>
      <span class="logo-parts">E</span>
      <span class="logo-parts">C</span>
      <span class="logo-parts">O</span>
      <span class="logo-parts">M</span>
      <span class="logo-parts">P</span>
      <span class="logo-parts">A</span>
      <span class="logo-parts">S</span>
      <span class="logo-parts">S</span>
    </h1>
    <p>Travel. Eat. Repeat</p>
  </div>

  <header id="home">
    <nav>
      <div class="nav__bar">
        <div class="nav__logo"><a href="#">PuneCompass.</a></div>
        <ul class="nav__links">
          <li class="link"><a href="#home">Home</a></li>
          <li class="link"><a href="{% url 'login' %}">Transport</a></li>
          <li class="link"><a href="{% url 'history' %}">History</a></li>
          <li class="link"><a href="{% url 'restaurants' %}">Restaurants</a></li>
          <li class="link"><a href="{% url 'touristPlaces' %}">Tourist Places</a></li>
          {% if not request.user.is_authenticated %}
          <li class="link"><a href="{% url 'login' %}">Login</a></li>
          <li class="link"><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="section__container header__container">
      {% if request.user.is_authenticated %}
      <h1>Welcome {{ request.user.first_name }}!</h1>
      <h4>Explore the colourful world</h4>
      <button class="btn">
        {% else %}
        <h1>The new way to plan your next adventure</h1>
        <h4>Explore the colourful world</h4>
        <button class="btn">
        {% endif %}
          Explore More <i class="fas fa-arrow-right"></i>
        </button>
    </div>
  </header>
  <!--header end-->
  <hr>
  <section class="discover" id="discover">
    <div class="section__container discover__container">
      <h2 class="section__header">Discover the most engaging experience</h2>
      <p class="section__subheader">
        Let's see Pune with us and you.
      </p>
      <div class="discover__grid">
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/misalpavdiscoversmall.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>FOOD</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae beatae adipisci eos reiciendis,
              dignissimos enim atque. Similique, modi delectus voluptate.
            </p>
            <button class="discover__btn">
              Discover More <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/ganapatidiscover.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>CULTURE</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae beatae adipisci eos reiciendis,
              dignissimos enim atque. Similique, modi delectus voluptate.
            </p>
            <button class="discover__btn">
              Discover More <i class="fa-solid fa-arrow-right"></i></i>
            </button>
          </div>
        </div>
        <div class="discover__card" data-aos="fade-up">
          <div class="discover__image">
            <div class="image-wrapper"></div> <img src="/static/images/naturediscover.jpg" alt="discover" />
          </div>
          <div class="discover__card__content" data-aos="fade-up">
            <h4>NATURE</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quae beatae adipisci eos reiciendis,
              dignissimos enim atque. Similique, modi delectus voluptate.
            </p>
            <button class="discover__btn">
              Discover More <i class="fa-solid fa-arrow-right"></i></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="journals" id="journals" data-aos="fade-up">
    <div class="section__container journals__container">
      <h2 class="section__header">The travel journals</h2>
      <p class="section__subheader">
        A journal is a place to record new things you have discovered while
        exploring various places you visit.
      </p>
      <div class="journals__grid">
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal1.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Kiara Sethi</p>
            </div>
            <h4>What to pack for Pune?</h4>
            <div class="journals__footer">
              <p>18 Apr 2022</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal2.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Archana Mahajan</p>
            </div>
            <h4>The best weekend spots.</h4>
            <div class="journals__footer">
              <p>22 Jun 2023</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal3.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Utakash Sharma</p>
            </div>
            <h4>Spirirtual peace and beauty.</h4>
            <div class="journals__footer">
              <p>05 Sep 2022</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal4.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Henry Armstrong</p>
            </div>
            <h4>A beginner's guide to Pune.</h4>
            <div class="journals__footer">
              <p>14 Dec 2022</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal5.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Rebecca Patterson</p>
            </div>
            <h4>Exploring and Shopping.</h4>
            <div class="journals__footer">
              <p>10 Feb 2022</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="journals__card" data-aos="fade-up">
          <img src="/static/images/traveljournal6.jpg" alt="journal" />
          <div class="journals__content">
            <div class="journals__author">

              <p>By Aaran Kennedy</p>
            </div>
            <h4>Travel tip's you'll wish you'd known sooner.</h4>
            <div class="journals__footer">
              <p>20 Mar 2023</p>
              <span>
                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="journals__btn" data-aos="fade-up">
        <button class="btn">
          View All Journals <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </section>
  <hr>
  <section class="gallery">
    <div class="gallery__container">
      <h2 class="section__header">Gallery</h2>
      <p class="section__subheader">
        See Pune From Here
      </p>
    </div>
    <!--carousel start-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/Punenightlife.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/Pune2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/PuneLavasa.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/PuneOffice.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/pavilion.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2"><img src="/static/images/pune1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <div class="image-wrapper2">
              <img src="/static/images/Puneaesthetichome.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--carousel send-->
  </section>



  <script src="../static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="../static/js/app.js"></script>
</body>

</html>