{% extends 'base.html' %}

{% block body %}
<section class="container-fluid restviews">
  <div class="container top">
    <div class="heading">
      <h2>Natural Places</h2>
      <hr>
      <h5>Discover Pune's natural beauty</h5>
    </div>
  </div>
  <!--carousel trial-->
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://maps.app.goo.gl/96X1bdhmP9gDmMZw9" target="_blank">
          <img src="/static/images/oshopark.png" class="d-block w-100 rounded-img" alt="Slide 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://maps.app.goo.gl/uybRuWQKaZBuUi1J7" target="_blank">
          <img src="/static/images/pashaan_lake.jpg" class="d-block w-100 rounded-img" alt="Slide 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://maps.app.goo.gl/qgyvppcaPT3fjAdH6" target="_blank">
          <img src="/static/images/empress_garden.jpg" class="d-block w-100 rounded-img" alt="Slide 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://maps.app.goo.gl/QUn94KacrzJ8oWBH7" target="_blank">
          <img src="/static/images/vetal_tekdi.jpg" class="d-block w-100 rounded-img" alt="Slide 1">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--carousel trial end-->

  <hr style="margin-top: 60px; margin-bottom: 60px;">

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">

        <img src="/static/images/mulshi_dam.jpg" class="d-block w-100 rounded-img" alt="Slide 2" height='200px'
          style="margin-bottom: 30px;">

        <h2 class="fw-normal">Mulshi Dam</h2>
        <p>Immerse yourself in nature's beauty at Mulshi Dam, a picturesque reservoir set against the backdrop of the
          Sahyadri mountains near Pune, Maharashtra, India.</p>
        <p><a class="btn btn-secondary" href="https://maps.app.goo.gl/4iN85GUtC8ss5ES99" target="_blank"
            style="margin-top: 20px;">Learn More</a></p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/band_garden.jpg" class="d-block w-100 rounded-img" alt="Slide 2"
          style="margin-bottom: 30px;">
        <h2 class="fw-normal">Band Garden</h2>
        <p>Relax amidst the tranquility of Band Garden, an urban oasis offering a serene retreat in Pune, Maharashtra,
          India.</p>
        <p><a class="btn btn-secondary" href="https://maps.app.goo.gl/NBMMoQUqPvBXrovY9" target="_blank"
            style="margin-top: 40px;"> Learn More</a></p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/singhgad_fort.jpg " class="d-block w-100 rounded-img" alt="Slide 2" height='200px'
          style="margin-bottom: 30px;">
        <h2 class="fw-normal">Sinhagad Fort</h2>
        <p>Ascend to the majestic Sinhagad Fort, a historic hill fortress commanding panoramic views in Pune,
          Maharashtra, India.</p>
        <p><a class="btn btn-secondary" href="https://maps.app.goo.gl/9TLiJKupqnnWYGB19" target="_blank"
            style="margin-top: 40px;">Learn More</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- /END THE FEATURETTES -->

  </div>

  <hr style="margin-bottom: 30px;">


  <div class="row featurette px-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Purandar Fort</h2>
      <p>Positioned 40 km southeast of Pune, Purandar Fort stands at an elevation of 1,355 meters. Steeped in history,
        it served as a key strategic fortification during various reigns. It offers breathtaking views of the Sahyadri
        mountain range and the nearby Purandar village. The fort has two distinct hillocks, Purandar and Vajragad (also
        known as Rudramal). Visitors can explore its ancient bastions, gates, and temples, making it a haven for history
        buffs and adventure seekers alike. With its rich historical significance dating back to the Yadava dynasty,
        Purandar Fort has witnessed numerous battles and changing rulers. Its imposing structure and intricate
        architecture stand as testaments to its glorious past, attracting history enthusiasts and architecture
        aficionados alike.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/images/Purandar_Fort.jpeg" class="d-block w-100 rounded-img" alt="Slide 2"
        style="margin-bottom: 30px; padding-right: 50px;">
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-md-5 text-md-end">
      <!-- Align the button to the right -->
      <a class="btn btn-lg btn-primary" href="https://maps.app.goo.gl/gS4Pe57B1FG5d2jS6" target="_blank"
        style="margin-right: 100px;">Learn More</a>
    </div>
  </div>

  <hr style="margin-bottom: 30px;">

  <div class="row featurette px-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Taljai Hill</h2>
      <p>Situated in the Sahakar Nagar area of Pune, Taljai Hill is a serene escape from the city's hustle and bustle.
        Despite its modest height of around 300 meters, it boasts lush greenery and diverse flora and fauna. Visitors
        can trek through its trails and enjoy panoramic views of Pune city and its surroundings. The hill is a popular
        spot for morning walks, birdwatching, and picnics, offering tranquility amidst nature's beauty.Despite its
        relatively small size, Taljai Hill offers a tranquil retreat for visitors seeking solace in nature's embrace.
        The hilltop's panoramic vistas, coupled with the gentle rustle of leaves and melodious chirping of birds, create
        a serene ambiance ideal for relaxation and rejuvenation..</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/static/images/Bhuleshwar_Temple.webp" class="d-block w-100 rounded-img" alt="Slide 2"
        style="margin-bottom: 30px; padding-left: 50px;">
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-md-5 text-md-start">
      <!-- Align the button to the left -->
      <a class="btn btn-lg btn-primary" href="https://maps.app.goo.gl/yWknBoKkUa8nxP9a9" target="_blank"
        style="margin-left: 100px;">Learn More</a>
    </div>
  </div>



  <hr style="margin-bottom: 30px;">

  <div class="row featurette px-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Tamhini Ghat</h2>
      <p>Tamhini Ghat, located approximately 50 km from Pune, is a scenic mountain pass in the Western Ghats. It's
        renowned for its stunning landscapes, including verdant hills, dense forests, and cascading waterfalls,
        especially during the monsoon season. The ghat road offers thrilling drives with breathtaking views of the
        valley below. Adventure enthusiasts flock to Tamhini Ghat for activities like hiking, photography, and waterfall
        rappelling. It's also a favored spot for nature lovers seeking respite from urban life amidst the region's
        natural splendor.Tamhini Ghat's allure lies not only in its scenic beauty but also in its biodiversity, with a
        rich variety of flora and fauna adorning its landscape. Its winding roads and hidden waterfalls beckon
        adventurers and explorers to unravel the secrets of this picturesque region, making it a must-visit destination
        for nature enthusiasts and thrill-seekers alike.
      </p>
    </div>
    <div class="col-md-5">
      <img src="/static/images/tamhini_ghat.jpg" class="d-block w-100 rounded-img" alt="Slide 2"
        style="margin-bottom: 30px; padding-right: 50px;">
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-md-5 text-md-end">
      <!-- Align the button to the right -->
      <a class="btn btn-lg btn-primary" href="https://maps.app.goo.gl/rD6xcnKgoqR8WwxdA" target="_blank"
        style="margin-right: 100px; ">Learn More</a>
    </div>
  </div>
  <hr style="margin-bottom: 30px;">


  {% endblock %}